body {
    background-color: rgb(0,36,27,14);
}
h1 {
    color: white;
    text-align: center;
}
.doors {
    position: absolute;
    margin: auto;
    height: 600px;
}
.center {
    margin: auto;
    width: 60%;
}
